body {
 background-color: aqua; 
 margin-left: 60px;   
}

.tittle{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#texto{
    color: rgb(222, 92, 92);
}

.kinal{
    text-align: center;
}

.img-size{
    width: 25px;
    height: 25px;
}
